body {
    font-family: "Ubuntu", sans-serif;
    position: relative;
    height: 100%;
  }
 
  .scrollPadding {
    padding-top: 70px;
    padding-bottom: 300px;
  }
  
  .smallPadding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  label {
    margin-right: 430px;
    margin-left: auto;
  }
  
  form {
    width: 430px;
    margin: 0 auto;
  }
  
  h1 {
    letter-spacing: 2px;
  }
  
  p {
    font: 18px "Ubuntu", sans-serif;
  }
  
